* {
    box-sizing: border-box;
}

@font-face {
    font-family: Baudelle;
    src: url(NeueHaasDisplayRoman.ttf);
  }

@font-face {
    font-family: Sara;
    src: url(NeueHaasDisplayRoman.ttf);
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    color: #222;
    font-family: Baudelle, sans-serif;
}

h1 {
    font-size: 64px;
    line-height: 80px;
}

h2, h3, h4, h5, p {
    font-size: 24px;
    line-height: 32px;
}