* {
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    color: #222;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-size: 64px;
    line-height: 80px;
}

h2, h3, h4, h5, p {
    font-size: 24px;
    line-height: 32px;
}

@media only screen and (max-width: 800px) {
    h1 {
      font-size: 48px;
      line-height: 64px;
    }
  }